<!DOCTYPE html>
<html lang="en">
<head>
    <title>Error Page</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include _links.ejs %>
</head>
<body>
    <div id="error">
        <% if (mode == "dev") { %>
        <h1><%= message %></h1>
        <h2><%= error.status %></h2>
        <pre><%= error.stack %></pre>
        <% } else { %>
        <h1>Something went wrong!</h1>
        <a href="/"><button>Go back to home</button></a>
        <h2><%= error.status %></h2>
        <% } %>
    </div>
</body>
</html>
