<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <%- include _links.ejs %>
  </head>
  <body>
    <div class="index">
      <header>
        <h1>Mini Messageboard</h1>
        <p>Welcome to mini message board!</p>
        <a href="/new"><button type="button">Add New Message!</button></a>
      </header>
      <div class="messages">
        <% messages.forEach((message) => { %>
        <div>
          <p><%= message.text %></p>
          <p>by <%= message.user %></p>
          <p><%= message.added %></p>
        </div>
        <% }) %>
      </div>
    </div>
  </body>
</html>
