<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <%- include _links.ejs %>
  </head>
  <body>
    <div class="index">
      <%- include _header.ejs %>
      <!-- <a href="/new"><button type="button">Add New Message!</button></a> -->
      <div class="messages">
        <% messages.forEach((message) => { %>
        <div>
          <p><%= message.text %></p>
          <p>by <%= message.user %></p>
          <p><%= message.added %></p>
        </div>
        <% }) %>
      </div>
    </div>
  </body>
</html>
