<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include _links.ejs %>
  </head>
  <body>
      <%- include('_header', {user}) %>
    <div id="sign-up">
      <div class="form-container">
        <h1><%= title %></h1>
        <form action="/sign-up" method="post">
          <div class="form-group">
            <label for="first-name">First Name</label>
            <input minlength="1" type="text" name="first-name" id="first-name" required />
          </div>
          <div class="form-group">
            <label for="last-name">Last Name</label>
            <input minlength="1" type="text" name="last-name" id="last-name" required />
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" required />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input minlength="8" type="password" name="password" id="password" required />
          </div>
          <div class="form-group">
            <label for="confirm-password">Confirm Password</label>
            <input minlength="8" type="password" name="confirm-password" id="confirm-password" required />
          </div>
          <div class="form-group">
            <p>Choose an Avatar</p>
            <div class="characters-container">
              <div class="character">
                <input type="radio" name="character" id="number1" value="number-1.jpeg" required checked/>
                <label for="number1">
                  <img src="images/number-1.jpeg" alt="Numbuh 1" />
                </label>
              </div>
              <div class="character">
                <input type="radio" name="character" id="number2" value="number-2.jpeg" />
                <label for="number2">
                  <img src="images/number-2.jpeg" alt="Numbuh 2" />
                </label>
              </div>
              <div class="character">
                <input type="radio" name="character" id="number3" value="number-3.jpeg" />
                <label for="number3">
                  <img src="images/number-3.jpeg" alt="Numbuh 3" />
                </label>
              </div>
              <div class="character">
                <input type="radio" name="character" id="number4" value="number-4.jpeg" />
                <label for="number4">
                  <img src="images/number-4.jpeg" alt="Numbuh 4" />
                </label>
              </div>
              <div class="character">
                <input type="radio" name="character" id="number5" value="number-5.jpeg" />
                <label for="number5">
                  <img src="images/number-5.jpeg" alt="Numbuh 5" />
                </label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <button type="submit">Sign Up</button>
          </div>
        </form>
        <div class="errors">
          <%if(errors.length > 0){%> <%errors.forEach(error => {%>
          <p id="err-msg-signup">- <%=error.msg%></p>
          <%})%> <% }%>
        </div>
      </div>
    </div>
  </body>
</html>
